services:
  - type: web
    name: A Fake Artist Goes To New York-multiplayer
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
